# Dependencies
node_modules/
**/node_modules/
.pnpm-store/

# Production Builds & Cache
.next/
**/.next/
dist/
**/dist/
build/
.tsbuildinfo
*.log

# Environment Variables
.env
.env.local
.env.production

# System Files
.DS_Store
Thumbs.db